<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="quanliphongtro"
			 connectionString="Server=PHUONGLINH\TNPHUONGLINH;Database=quanliphongtro;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="DonGiaDien" value="3500" />
		<add key="DonGiaNuoc" value="15000" />
	</appSettings>
</configuration>